{%- comment -%}
  Homepage banner for the Francis Halzen Nobel Prize article.
  Shown until the expiry date below (checked at build time, and again in the browser).
  Usage: {% include banners/nobel-prize.html class="d-none d-lg-block" %}
{%- endcomment -%}
{%- assign nobel_banner_expires = "2026-11-06" -%}
{%- assign nobel_banner_expires_ts = nobel_banner_expires | date: "%s" | plus: 0 -%}
{%- assign nobel_banner_now_ts = site.time | date: "%s" | plus: 0 -%}
{%- if nobel_banner_now_ts < nobel_banner_expires_ts -%}
<a class="nobel-banner {{ include.class }}" data-expires="{{ nobel_banner_expires }}" href='https://chtc.cs.wisc.edu/behind-nobel-winning-icecube-discoveries.html'>
    <div class="container-xxl py-1 text-center">
        <i class="bi bi-award me-1"></i>
        <span>OSPool User, Francis Halzen awarded the 2026 Nobel Prize</span>
        <span class="nobel-banner-cta ms-2 text-nowrap">Read More <i class="bi bi-arrow-right"></i></span>
    </div>
</a>
<script>
    (function () {
        var banners = document.querySelectorAll('.nobel-banner[data-expires]');
        for (var i = 0; i < banners.length; i++) {
            if (new Date() >= new Date(banners[i].getAttribute('data-expires'))) {
                banners[i].remove();
            }
        }
    })();
</script>
{%- endif -%}
