---
title: Event Page
layout: padded-default
---


<div class="container-xxl">
    <h1>Events</h1>
</div>
<div class="bg-light">
    <div class="container-xxl">
        {% include get/future_events.liquid %}
        {% if future_events.size != 0 %}
        <div class="row my-4 g-2">
            {% for event in future_events %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                {% include /cards/event-card.html news=event height='150' %}
            </div>

            {% endfor %}
        </div>
        {% endif %}
        {% include get/past_events.liquid %}
        <h3 class="text-muted pt-3">Past Events</h3>
        <div class="row g-2">
            {% for event in past_events %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                {% include /cards/event-card.html news=event height='150' %}
            </div>

            {% endfor %}
        </div>
    </div>
</div>
