---
layout: body
js_extension:
  - src: "/assets/js/base.js"
    loading: "defer"
  - src: "/assets/js/pages/homepage.js"
    loading: "defer"
    type: "module"
css_extension:
  - href: "/assets/css/homepage.css"
---

<div id="homepage-heading" class="d-flex flex-column">
  <div id="hero-image"></div>
  {% include header.html %}
  <div class="flex-grow-1 d-flex">
    <div class="container-xxl mb-auto mt-6">
      <div class="row">
        <div class="col-12 col-md-9">
          <h1>
            Power your Research with<br>
            distributed High Throughput Computing
          </h1>
          <p class="fs-5">
            The OSG is here to support researchers with HTC workloads. We provide open-source software,
            compute resources, and services for researchers and research organizations to support their dHTC compute requirements.
          </p>
          <div class="mt-4">
            <a class="btn btn-warning" href="/about/introduction/index.html">Learn how the OSG facilitates dHTC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-relative">
  <div class="container-xxl position-absolute  absolutely-centered">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-9">
        <div>
          <div class="card bg-light">
            <div class="card-body fst-italic text-center fs-5">
              The OSG is a consortium of research collaborations, campuses, national laboratories
              and software providers dedicated to the advancement of all open science via the
              practice of distributed High Throughput Computing (dHTC), and the advancement of
              its state of the art.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-warning pt-vh-10">
  <div class="container-xxl py-4">
    <div class="row justify-content-between">
      <div class="col-12 col-md-2">
        <canvas id="globe-visualization" class="w-100" height="527" width="527"/>
      </div>
      <div class="col-12 col-md-8 col-lg-6 col-xxl-5 d-flex">
        <div class="my-auto">
          <div class="card mt-n7 mt-md-0 border-0 shadow">
            <div class="card-body">
              <h3 class="mt-0 pb-2">Submit Locally, Run Globally</h3>
              <p class="fs-5">
                OSG Access Points provide researchers with a location to place their HTC workloads and data,
                then submit to a associated computing resource.
              </p>
              <h5 class="pb-2">Don't have access to a Access Point?</h5>
              <p class="fs-5">
                OSGConnect provides researchers with an OSG operated Access Point. Using this Access Point researchers
                can submit jobs to the OSPool, an OSG operated pool of shared computing and data capacity.
              </p>
              <div class="row mt-4">
                <div class="col-auto">
                  <a class="mb-2 mb-md-0 btn btn-secondary shadow" href="/about/open_science_pool/index.html">Explore OSG Access Points</a>
                </div>
                <div class="col-auto">
                  <a class="btn btn-secondary shadow" href="/about/open_science_pool/index.html">Explore OSGConnect</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-relative watch-child-height">
  <div class="position-absolute w-100 absolutely-centered watch-parent-height">
    <div class="container-xxl">
      <div class="row py-3">
        {% assign sorted_spotlights = site.spotlights | reverse %}
        {% for article in sorted_spotlights limit:3 %}
        <div class="col-12 col-sm-6 col-lg-4 {% cycle 'order-1 order-md-2', 'd-none d-lg-block order-3', 'd-none d-sm-block' %}">
          {% include /cards/spotlight-card.html height='150' no_date="true" %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="d-flex flex-column h-100">
    <div class="bg-warning flex-grow-1"></div>
    <div class="bg-secondary flex-grow-1"></div>
    <div class="bg-warning flex-grow-1"></div>
  </div>
</div>

<div class="bg-warning">
  <div class="container-xxl py-4">
    <div class="row justify-content-between flex-row-reverse">
      <div class="col-12 col-md-2 d-s">
        <img id="circle-visualization" src="/assets/images/chart.svg">
      </div>
      <div class="col-12 col-md-8 col-lg-6 col-xxl-5 d-flex">
        <div class="my-auto">
          <div class="card mt-n7 mt-md-0 border-0 shadow">
            <div class="card-body">
              <h3 class="mt-0 pb-2">OSG makes HTC workloads accessible to all Researchers</h3>
              <p class="fs-5">
                OSG services allow researchers of all fields of science to ask bigger questions. OSG Access Points
                provide entrypoint into The Open Science Pool
                provides access compute resources for complex workloads. The Open Science Data Federation facilitates the use
                of large data sets.
              </p>
              <h5 class="pb-2">New to Large-Scale Computing?</h5>
              <p class="fs-5">
                OSG provides a dedicated staff of Research Facilitators here to help you use our services. Research Facilitators
                can assist with your computational approach, teach you how to place your workloads and data on our Access Points,
                and connect you with researchers using similar software or methods.
              </p>
              <div class="mt-3 d-flex">
                <a class="mx-auto btn btn-secondary shadow" href="/about/open_science_pool.html">Read about our Spotlight Researchers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl my-6">
  <h1>Support</h1>
  <div class="row">
    <div class="col-8">
      <p>
        Significant funding is provided through the following sources.
      </p>
    </div>
    <div class="col-md-10 col-lg-6">
      {% include image-title-desc-card.html
        img_src="/assets/images/logos/Logo_Round_Med.png"
        img_alt="PATh Logo"
        title="Path"
        description="
        The Partnership to Advance Throughput Computing (PATh) is an NSF-funded (#2030508) project to address the
        needs of the rapidly growing community embracing Distributed High Throughput Computing (dHTC) technologies
        and services to advance their research.
        "
        url="https://path-cc.io/"
      %}
    </div>
    <div class="col-md-10 col-lg-6">
      {% include image-title-desc-card.html
        img_src="/assets/images/logos/IRIS_HEP.png"
        img_alt="Iris-Hep Logo"
        title="IRIS-HEP"
        description="
        The Institute for Research and Innovation in Software for High Energy Physics (IRIS-HEP) is an
        NSF-funded (#1836650) software institute established to meet the software and computing challenges
        of the HL-LHC, through R&D for the software for acquiring, managing, processing and analyzing HL-LHC data.
        "
        url="https://iris-hep.org/"
      %}
    </div>
  </div>
</div>





{% include layout/footer.html %}