---
title: "Spotlight Researchers"
layout: title-main
---

{% assign sorted_spotlights = site.spotlights | sort: "date" | reverse %}

<div class="d-none d-md-block p">
    <div class="position-relative watch-child-height">
        <div class="position-absolute w-100 absolutely-centered watch-parent-height">
            <div class="container-xxl">
                <div class="row">
                    {% for article in sorted_spotlights limit:1 %}
                    <div class="col-12">
                        <a class="text-decoration-none" href="{{ article.url | relative_url }}">
                            <div class="card shadow border-0 mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img height="442" src="{{ article.card_image | relative_url }}" class="w-100 rounded-start" alt="article">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h4 class="text-decoration-none">{{ article.title }}</h4>
                                            {% unless include.no_date %}
                                            <div>
                                                <span class="text-muted text-decoration-none">{{ article.date | date: "%B %e, %Y" }}</span>
                                            </div>
                                            {% endunless %}
                                            <hr>
                                            <span class="text-decoration-none text-dark">
                                            {{ article.long_excerpt | default: article.excerpt }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column h-100">
            <div class=" flex-grow-1"></div>
            <div class="bg-secondary flex-grow-1"></div>
            <div class=" flex-grow-1"></div>
        </div>
    </div>
</div>


<div class="">
    <div class="container-xxl">
        <div class="row pt-4">
            {% include get/spotlights.liquid %}
            {% assign sorted_spotlights = spotlights | sort: "date" | reverse %}
            {% for article in sorted_spotlights %}
            <div class="col-12 col-lg-6 col-xl-4 pb-4">
                {% include /cards/spotlight-card.html data=spotlights no_date="true" %}
            </div>
            {% endfor %}
        <div class="row rounded bg-light pb-3 pe-3 g-0">

            {% for article in sorted_spotlights limit:1 %}
                <div class="col-12 col-lg-6 col-xl-4 pt-3 ps-3 d-block d-md-none">
                    {% include /cards/spotlight-card.html data=spotlights no_date="true" %}
                </div>
            {% endfor %}

            {% for article in sorted_spotlights offset: continue %}
            <div class="col-12 col-lg-6 col-xl-4 pt-3 ps-3">
                {% include /cards/spotlight-card.html data=spotlights no_date="true" %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <p>
        The OSG Consortium is pleased to see OSG stories reposted on the websites of other organizations.

        The stories should be reposted with credits to the OSG website and the original authors, as well as a link to the original posting.

        Any alterations to the text or images for the reposting should be agreed by the OSG Communications team.  Please email <a href="mailto:osg-contact@opensciencegrid.org">osg-contact@opensciencegrid.org</a>.
    </p>
</div>

