---
title: "Spotlights"
layout: padded-default
---


<div class="container-xxl">
    <h1>Spotlights</h1>
    <hr class="m-0">
</div>
<div class="bg-light">
    <div class="container-xxl">
        <div class="row pt-4">
            {% assign sorted_spotlights = site.spotlights | sort: "date" | reverse %}
            {% for article in sorted_spotlights %}
            <div class="col-12 col-lg-6 col-xl-4 pb-4">
                {% include /cards/spotlight-card.html data=spotlights no_date="true" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-xxl">
    <hr>
    <p>
        The OSG Consortium is pleased to see OSG stories reposted on the websites of other organizations.

        The stories should be reposted with credits to the OSG website and the original authors, as well as a link to the original posting.

        Any alterations to the text or images for the reposting should be agreed by the OSG Communications team.  Please email <a href="osg-contact@opensciencegrid.org">osg-contact@opensciencegrid.org</a>.
    </p>
</div>

