{% if include.article %}
    {% assign article = include.article %}
{% endif %}
<a class="text-decoration-none" href="{{ article.url | relative_url }}">
    <div class="card shadow border-0 h-100">
        {% if article.card_image or include.card_image %}
        <img height="{{ include.height | default: '200' }}" src="{{ include.card_image | default: article.card_image | relative_url }}" class="card-img-top" alt="article">
        {% endif %}
        <div class="card-body d-flex flex-column">
            <h4 class="text-decoration-none">{{ article.title }}</h4>
            {% unless include.no_date %}
                <div>
                    <span class="text-muted text-decoration-none">{{ article.date | date: "%B %e, %Y"}}</span>
                </div>
            {% endunless %}
            <hr>
            <span class="text-decoration-none text-dark">
                {% if include.content | markdownify | strip_html  %}
                    {{ article.content }}
                {% else %}
                    {{ article.excerpt | markdownify | strip_html }}
                {% endif %}
            </span>
        </div>
    </div>
</a>