<div class="carousel-item {{ active }} data-bs-interval='16000'">
    <img class="{{ position }}-slide" src="{{site.baseurl}}{{ slide.image }}" alt="{{ slide.alt }}">
    <div class="container">
        <div class="carousel-caption text-end text-{{ slide.title_color }}">
            <h1>{{ slide.title }}</h1>
            {% if slide.description %}
                <p>{{ slide.description }}</p>
            {% endif %}
            {% if slide.link %}
                <p><a class="btn btn-lg btn-secondary" href="{{ slide.link | relative_url }}" role="button">Read more</a></p>
            {% endif %}
        </div>
    </div>
</div>