<div class="carousel-item {{ active }}">
    <img class="{{ position }}-slide" src="{{site.baseurl}}{{ slide.image }}" alt="{{ slide.alt }}">
    <div class="container">
        <div class="carousel-caption text-right">
            <h1>{{ slide.title }}</h1>
            {% if slide.description %}
                <p>{{ slide.description }}</p>
            {% endif %}
            {% if slide.link %}
                <p><a class="btn btn-lg btn-primary" href="{{ slide.link }}" role="button">Read more</a></p>
            {% endif %}
        </div>
    </div>
</div>