{% assign input = include.input | default: input %}
<ul>
{% for item in input %}
    {% assign default_href = item.name | slugify | prepend: '#' %}

    <li><a href="{{ item.href | default: default_href }}">{{ item.name }}</a></li>
    {% if item.children %}
        {% include list_of_lists_to_ul.liquid input=item.children %}
    {% endif %}
{% endfor %}
</ul>