{% assign event = include.event %}

<div class="event-card w-100 mt-1">
    {% if event.alturl %}
        <a href="{{ event.alturl | relative_url  }}">
    {% else %}
        <a href="{{ event.url | relative_url  }}">
    {% endif %}
        <div class="card">
            {% if event.start_date %}
                <div class="card-header text-primary">
                    <h2 class="m-0">
                        {% assign end = event.end_date | date: "-%e" %}
                        {{ event.start_date | date: "%b %e" | upcase | append : end }}
                        |
                        {{ event.location }}
                    </h2>
                </div>
            {% endif %}
            {% if event.image %}
                <img alt="" class="card-img" src="{{ event.image | relative_url }}" \>
            {% endif %}
            <div class="card-body">
                <h2 class="card-title text-primary m-0">
                    {{ event.short_title }}
                </h2>
            </div>
        </div>
    </a>
</div>