
<div class="event">
<div class="row">
<div class="col-auto">
<div class="icons border-top border-bottom">
{% if page.calendar_event %}
<a href="{{ page.calendar_event | prepend: '/assets/calendar_event/' | append: '.ics' | relative_url}}">
<img src="{{ '/assets/images/icons/calendar-plus.svg' | relative_url }}"/>
</a>
{% endif %}
</div>
</div>
</div>
<div class="row">
<div class="main col-12 col-xl-7 col-lg-8 col-md-8 order-1 order-md-1" markdown="1">
{{ main }}
</div>
<div class="subsection col-12 col-xl-5 col-lg-4 col-md-4 order-2 order-md-2" markdown="1">
{{ subsection }}
</div>
</div>
<div class="row">
<div class="col-12" markdown="1">
{{ endblock }}
</div>
</div>
</div>


















