
.event-card {
  .card {
    background-color: inherit;
    border: 0px;
  }
  .card:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .card-header {
    color: $gray-600;
    background-color: inherit;
    padding: 0px;
  }
  .card-body {
    padding: 0px;
    background-color: rgba(0,0,0,0.05);
  }
}

.event{
  .icons{
    background-color: $white-offset;
    border-radius: $border-radius;
    img{
      height: 35px;
      margin: 10px;
    }
  }
  .event-header {
    img {
      width: 100%;
    }

    .image-container {
      display: block;
      height: auto;
      width: 100%;
    }

    .title {
      line-height: 1.0;
    }

    .subtitle {
      margin-bottom: 0;
      padding: 10px;
      background-color: $warning;
      background-image: linear-gradient(to top, $warning, white);
      text-align: right;
    }
  }
  .subsection {
    background-color: $warning; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, $warning, white);
    margin-bottom: auto;
  }
}