---
layout: blank
---

{% include /get/hero_story.liquid %}

#hero-image {
  background: url({{ hero_story.banner_src | relative_url }}) center;
}

#hero-content-container {
  background-color: rgba(0, 0, 0, .6);
  min-height: 300px;
  p {
    min-height: 150px;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #hero-content-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}

.primary {
  font-size: 7rem;
  font-weight: 400;
}

.secondary {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .primary {
    font-size: 6rem;
  }
  .secondary {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .primary {
    font-size: 5rem;
  }
  .secondary {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .primary {
    font-size: 4rem;
  }
  .secondary {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .primary {
    font-size: 3rem;
  }
  .secondary {
    font-size: 1.2rem;
  }
}