
#hero-image {
  background: url({{ hero_data.banner_src | relative_url }}) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-content-container {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  min-height: 300px;
  color: white;
  p {
    min-height: 150px;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #hero-content-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}
