---
layout: blank
---

#homepage-heading {
  height: 115vh;
}

#hero-image {
  position: absolute;
  height: 115vh;
  width: 100%;
  top: 0px;
  z-index: -1;
  background: url("/assets/images/OSG_Hero.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-content-container {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  min-height: 300px;
  color: white;
  p {
    min-height: 150px;
  }
}

#hero-quote{

}
