---
layout: blank
---

{% include /get/hero_story.liquid %}

#hero-image {
  background: url({{ hero_story.banner_src | relative_url }}) center;
}

#hero-content-container {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  min-height: 300px;
  color: white;
  p {
    min-height: 150px;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #hero-content-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}
