---
layout: blank
---

{% include /get/hero_data.liquid %}

#hero-image {
  background: url({{ hero_data.banner_src | relative_url }}) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero-content-container {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  min-height: 300px;
  color: white;
  p {
    min-height: 150px;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #hero-content-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}

@media (min-width: 576px) {
  .bookends {
    background-image: url({{ '/assets/images/OSG_Bookends_start.png' | relative_url }}), url({{ '/assets/images/OSG_Bookends_end.png' | relative_url }});
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 235px 378px, 235px 378px; } }

@media (min-width: 992px) {
  .bookends {
    background-size: 235px 378px, 235px 378px; } }

@media (max-width: 991.98px) {
  .bookends {
    background-size: 118px 189px, 118px 189px; } }