---
---

body {
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* OSG-style links */

a{color:#b67b3c;text-decoration:none;}
a:hover,a:focus{color:#7c5429;text-decoration:underline;}

/* Stealing table CSS from jekyll-theme-minimal */

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

// Card image caps
.card-img-top {
  height: 20vw;
  object-fit: cover;
}

/* OSG Special announcements */
#osg-special-banner {
  margin: 2rem;
  border: 3px solid #9F4000;
  padding: 1rem;
  background-color: #FFECDF;
}

#osg-special-banner p.special-banner-1 {
  font-size: 100%;
}

#osg-special-banner p.special-banner-2 {
  font-size: 75%;
  margin-bottom: 0;
}

.title-head {
  margin-bottom: 1em;
}
