---
title: Employment Opportunities
---

<p class="mt-3">
    The OSG Consortium is proud to display positions dedicated to advancing the state of research computing. If you have a
    position that you would like to add to the list below please contact us at
    <a href="mailto:support@osg-htc.org">support@osg-htc.org</a> with a link to your position.
</p>

{% assign now = 'now' | date: '%s' | plus: 0 %}
{% for job_hash in site.data.jobs %}
    {% assign job = job_hash[1] %}
    {% if now < job.endtime %}
        <div class="bg-light rounded p-2 px-3 border hover-shadow">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h4>{{ job.title }}</h4>
                    <h6 class="text-muted">{{ job.institution }}</h6>
                </div>
                <div class="col-auto d-flex">
                    <a class="btn btn-dark my-auto" href="{{ job.url }}">Full Listing</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}