---
title: Monthly Training with the Facilitation Team
layout: facilitation
---

<div class="container-xxl mw-1000" markdown="1">

<h1 class="mini-bar">{{ page.title }}</h1>

<p>
The Facilitation Team offers monthly training sessions for the HTC community. Peruse
our previous training materials and recordings below, and see what sessions are 
coming up!
</p>

<p><img src="/assets/images/OSGUS23-andrew-help.jpg" class="w-100" /> </p>

<h2>Training Materials</h2>

<p>
Many of our previous training materials are available online. View a recording on 
YouTube, look at our slides, or try out the hands-on tutorial(s). 
</p>

<div class="row">
    <div class="col-auto">
        <a class="btn btn-secondary me-md-2 text-dark"
           href="https://portal.osg-htc.org/documentation/support_and_training/training/materials/" role="button">Past Training Materials</a> <br>
    </div>
</div>

<br>

<h2>Upcoming Training Events</h2>

<p>
All User Training sessions are offered on Tuesdays from 2:30-4pm ET 
(11:30am - 1pm PT), on the third Tuesday of the month. The trainings are 
designed as stand alone subjects. You do not need to bring/have your dataset 
prepared before the training. The only prerequisites are some familiarities 
with using the command line inteface or shell. Having some familiarities with 
HTCondor job submissions are useful but not required. 
</p>

<!--<div class="alert alert-dark d-flex flex-column">
<h5 class="mx-auto">Registration opens a month before the training date, and closes 24 
hours before the event. You can register for all of our trainings via setmore:</h5>
<a class="btn btn-secondary mx-auto d-block mt-3" href="https://osgfacilitation.setmore.com/#classes">Register Here</a>
</div>-->

<!--auto-populate with upcoming events-->
{% include get/future_events.liquid %}
<div class="row my-4 g-2">
	{% for event in future_events %}
	{% if event.tags contains "osg-training" %}
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		{% include /cards/event-card.html news=event height='150' remove_excerpt='1' %}
	</div>
	{% endif %}
	{% endfor %}
</div>
</div>