<footer id="footer" class="mt-auto pt-5">
    <div class="shadow bg-light">
        <div class="container-xxl">
            <div class="row justify-content-center py-5">
                <div class="col-auto me-4 d-none d-md-flex">
                    <a class="my-auto" href="{{ '/' | relative_url }}"><img style="height:5rem" src="{{ '/assets/images/logos/OSG-logo.svg' | relative_url }}" alt="OSG logo"></a>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="row justify-content-between my-2">
                        {% for category in site.data.footer %}
                        <div class="col-6 col-lg-4 col-xl-3 my-2">
                            <table>
                                <tr><th>{{ category.name }}</th></tr>
                                {% for child in category.children %}
                                <tr><td><a href="{{ child.url | relative_url }}">{{ child.name }}</a></td></tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row py-5">
            <div class="col text-center">
                This work is supported by <a href="https://www.nsf.gov/div/index.jsp?div=OAC">NSF</a> under Grant Nos. 2030508, 1836650, and 1148698. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.. <br />
            </div>
        </div>
    </div>
</footer>