<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-xxl">
            <a class="navbar-brand pt-1 pb-1" href="{{ '/' | relative_url }}"><img height="55" src="{{ '/assets/images/logos/OSG-logo.svg' | relative_url }}" alt="OSG logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for section in site.data.about %}
                            {% for item in section.docs %}
                            {% assign item_url = item | prepend:"/about/" | append:"/" %}
                            {% assign p = site.about | where:"url", item_url | first %}
                            <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.nav | default: p.title }}</a>
                            {% endfor %}
                            {% endfor %}
                            <a class="dropdown-item" href="{{ '/acknowledging.html' | relative_url }}">Acknowledging OSG</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="services-dropdown">
                            <div class="dropend">
                                <a class="dropdown-item dropdown-toggle" id="services-ospool-dropdown" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OSPool</a>
                                <ul class="dropdown-menu dropdown-submenu" aria-labelledby="services-ospool-dropdown">
                                    <li><a class="dropdown-item" href="{{ '/services/open_science_pool' | relative_url }}">Overview</a></li>
                                    <li><a class="dropdown-item" href="{{ '/services/open_science_pool/institutions' | relative_url }}">Institutions</a></li>
                                    <li><a class="dropdown-item" href="{{ '/projects' | relative_url }}">Projects</a></li>
                                </ul>
                            </div>
                            <div class="dropend">
                                <a class="dropdown-item dropdown-toggle" id="services-osdf-dropdown" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OSDF</a>
                                <ul class="dropdown-menu dropdown-submenu" aria-labelledby="services-osdf-dropdown">
                                    <li><a class="dropdown-item" href="{{ '/services/osdf' | relative_url }}">Overview</a></li>
                                    <li><a class="dropdown-item" href="{{ '/services/osdf/projects' | relative_url }}">Projects</a></li>
                                </ul>
                            </div>
                            <a class="dropdown-item" href="{{ '/services/access-point' | relative_url }}">OSG-Operated Access Points</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="campusNavLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Campuses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="campusNavLink">
                            <a class="dropdown-item" href="{{ '/campus/support.html' | relative_url }}">Support</a>
                            <a class="dropdown-item" href="{{ '/campus-cyberinfrastructure.html' | relative_url }}">CC* Proposals</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="communityNavLinks">
                            <a class="dropdown-item" href="{{ '/spotlight.html' | relative_url }}">Spotlight</a>
                            <a class="dropdown-item" href="{{ '/news.html' | relative_url }}">News</a>
                            <a class="dropdown-item" href="{{ '/events.html' | relative_url }}">Events</a>
                            <a class="dropdown-item" href="{{ '/community/school.html' | relative_url }}">OSG School</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/contact.html' | relative_url }}">Contact</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Docs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="https://portal.osg-htc.org/documentation/">For Users</a>
                            <a class="dropdown-item" href="https://osg-htc.org/docs/">For Sysadmins</a>
                            <a class="dropdown-item" href="https://osg-htc.org/security/">Security</a>
                        </div>
                    </li>
                </ul>
            
            <span class="navbar-text">
                {% if page.url  == "/" %}
                        <a class="btn btn-primary me-md-2 text-dark" href="https://portal.osg-htc.org/application" role="button">Request an Account</a>
                        <a class="btn btn-primary me-md-2 text-dark" href="https://portal.osg-htc.org/application" role="button">Learn More!</a>
                        {% endif %}
            </span>
            </div>
        </div> <!-- End Container -->
    </nav>
</header>
