<header>
    <nav class="navbar navbar-light navbar-expand-md {% if page.url == '/' %}bg-secondary{% endif %}">
        <div class="container-xxl">
            <a class="navbar-brand pt-1 pb-1" href="{{ '/' | relative_url }}">
                {% if page.url == "/" %}
                    <img class="my-1" height="36" style="height: 2rem" src="{{ '/assets/images/logos/OSG_Logo_Text.svg' | relative_url }}" alt="OSG logo">
                {% else %}
                    <img style="height: 3rem" src="{{ '/assets/images/logos/OSG-logo.svg' | relative_url }}" alt="OSG logo">
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for section in site.data.about %}
                            {% for item in section.docs %}
                            {% assign item_url = item | prepend:"/about/" | append:"/" %}
                            {% assign p = site.about | where:"url", item_url | first %}
                            <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.nav | default: p.title }}</a>
                            {% endfor %}
                            {% endfor %}
                            <a class="dropdown-item" href="{{ '/acknowledging.html' | relative_url }}">Acknowledging OSG</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/campus-cyberinfrastructure.html' | relative_url }}">Campuses</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/spotlight.html' | relative_url }}">Spotlight</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/news.html' | relative_url }}">News</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/events.html' | relative_url }}">Events</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/contact.html' | relative_url }}">Contact</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Docs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="https://support.opensciencegrid.org/support/home">For Users</a>
                            <a class="dropdown-item" href="https://opensciencegrid.org/docs/">For Sysadmins</a>
                            <a class="dropdown-item" href="https://opensciencegrid.org/security/">Security</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-xxl">
        <hr class="my-0"/>
    </div>
</header>