{% assign event = include.event %}

<div class="event-card w-100 mb-3">
    <a class="text-decoration-none"
        {% if event.alturl %}
            href="{{ event.alturl | relative_url  }}"
        {% else %}
            href="{{ event.url | relative_url  }}"
        {% endif %}
    >
        <div class="card">
            {% if event.start_date %}
                <div class="card-header text-primary">
                    <h3 class="m-0">
                        {% if event.start_date != event.end_date %}
                            {% assign end = event.end_date | date: "-%e" %}
                            {{ event.start_date | date: "%b %e" | upcase | append : end }}
                        {% else %}
                            {{ event.start_date | date: "%b %e" | upcase }}
                        {% endif %}
                        |
                        {{ event.location }}
                    </h3>
                </div>
            {% endif %}
            {% if event.image %}
                <img alt="" class="card-img" src="{{ event.image | relative_url }}" >
            {% endif %}
            <div class="card-body">
                <h3 class="card-title text-primary m-0">
                    {{ event.short_title }}
                </h3>
            </div>
        </div>
    </a>
</div>