---
layout: default
---

<div class="bg-dark py-2">
    <div class="container-xxl">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto position-absolute">
                <h5 class="text-secondary mb-0"><i class="bi bi-database-fill"></i>&nbsp;OSDF</h5>
            </div>
            <div class="col d-flex">
                <div class="ms-auto me-md-auto">
                    <a class="text-secondary" href="/services/osdf">
                        <i class="bi bi-house-door-fill"></i> Overview
                    </a>
                    <a class="text-secondary mx-3" href="/services/osdf/projects">
                        <i class="bi bi-person"></i> Projects
                    </a>
                    <a class="text-secondary" href="/services/osdf/data">
                        <i class="bi bi-folder2-open"></i> Data
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    {{ content }}
</div>
