---
layout: default
---

<div class="bg-dark py-2 d-none d-md-block">
    <div class="container-xxl">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto position-absolute">
                <h5 class="text-secondary mb-0"><i class="bi bi-cpu-fill"></i> OSPool</h5>
            </div>
            <div class="col d-flex">
                <div class="ms-auto me-md-auto">
                    <a class="text-secondary" href="/services/ospool">
                        <i class="bi bi-house-door-fill"></i> Overview
                    </a>
                    <a class="text-secondary mx-3" href="/services/ospool/projects">
                        <i class="bi bi-person"></i> Projects
                    </a>
                    <a class="text-secondary me-3" href="/services/ospool/institutions">
                        <i class="bi bi-buildings"></i> Institutions
                    </a>
                    <a class="text-secondary" href="https://portal.osg-htc.org/documentation/">
                        <i class="bi bi-file-text"></i> Documentation
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-5">
    {{ content }}
</div>
