---
layout: title-main-container
---

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-9 col-xl-8">
    <section class="news-article">
      {% if page.title %}
      <div class="mb-1">
        <h1>{{ page.title }}</h1>
        {% if page.author %}
        <h5>By: {{page.author}}</h5>
        {% endif %}
        {% if page.collection == "news" %}
        <h4 class="text-muted">{{ page.date | date: "%B %e, %Y" }}</h4>
        {% endif %}
      </div> <!-- title-head -->
      {% endif %}

      <div class="fs-5">
        {{ content }}
      </div>
    </section>
  </div>
</div>


