---
layout: container
---

<div class="row justify-content-center">
  <div class="col-12 col-xl-7 col-lg-8 col-md-10">
    <section class="news-article">
      {% if page.title %}
      <div class="mb-1">
        <h1>{{ page.title }}</h1>
        <div class="row justify-content-between">
          {% if page.author %}
            <div class="col-auto">
                <h4 class="text-muted">By: {{ page.author }}</h4>
            </div>
          {% endif %}
          <div class="col-auto">
            <h4 class="text-muted">{{ page.date | date: "%B %e, %Y" }}</h4>
          </div>
        </div>
      </div> <!-- title-head -->
      {% endif %}

      <div class="fs-5">
        {{ content }}
      </div>
    </section>
  </div>
</div>


