name: Deploy production version of the Website on osg-htc Repo

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

jobs:
  Build-And-Deploy-Production:
    if: ${{ github.repository_owner == 'opensciencegrid' }}
    runs-on: ubuntu-18.04
    env:
      CNAME: osg-htc.org
      production_url: https://github.com/opensciencegrid/osg-htc.git
    steps:
      - uses: actions/checkout@v2

      - name: Setup SSH Keys and known_hosts
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.OSG_HTC_DEPLOY_KEY }}

      - name: Initialize GH User
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - name: Build and Deploy
        run: |
          # Build the production version of website
          JEKYLL_ENV=production bundle exec jekyll build

          # Add in the appropriate CNAME file
          echo "${{ env.CNAME }}" > _site/CNAME

          # Commit the build then use 'git subtree' to create a branch with just the _site contents
          git add _site -f
          git commit -m "Build Production Website"
          git checkout -b split-branch `git subtree split --prefix _site master`

          # Push to Production
          git push ${{ env.production_url }} HEAD:main --force
